{% extends 'base.html.twig' %}
{% block pagewrapper %}
    {% set action_title = "Add Classes" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
            {% block otherstuff_lg12 %}
              {# {{ dump(data) }} #}
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Classes</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

            <a href="{{path('list_teachers',{'tbl': data.timetable.id })}}" class="btn btn-info">Teachers List</a>
            <a href="{{path('list_classes',{'tbl': data.timetable.id })}}" class="btn btn-info">Classes List</a>

            {{ form_start(form, {'method': 'post', 'attr': {'class': '' }} ) }}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                    {% if not form.vars.valid %}
                      <div class="alert alert-warning">
                      {{ form_errors(form) }}
                      </div>        
                    {% endif %}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                 <div class="form-group">
                                    <label>Class Name</label>
                                      {{ form_widget(form.c_title, {'attr': {'class': 'form-control', 'placeholder': 'Class Title', 'id': 'classstitle' }} ) }}
                                    </div>
                                    <!-- /.col-lg-6 (nested) -->

                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary' }} ) }}
                  {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-info' }} ) }}                               
                  <a href="{{path('homepage')}}" class="btn btn-danger">DONE</a>
              </div>
          </div>
               {{ form_end(form) }}
          <!-- /.box -->
        </div>
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Added Classes</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                  {% for classs in data.classes %}
                    {{classs}}, 
                  {% endfor %}
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                *************************
              </div>
          </div>
          <!-- /.box -->
        </div>

        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#classs_c_title").focus();
    });    
  </script>
{% endblock %}
