<div class="wrapper" style="overflow-y:hiddden;">

  <header class="main-header">
    <!-- Logo -->
    <a href="{{path('homepage')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>T</b>T</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Time</b>Tabler</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">

      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
  
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              {# <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image"> #}
              <span class="hidden-xs">{{app.user.FName}} {{app.user.LName}}</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                {# <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image"> #}

                <p>
                  {{app.user.FName}} {{app.user.LName}}
                </p>
              </li>
              <!-- Menu Footer-->
              <li class="user-footer">
                <div class="pull-right">
                  <a href="{{path('logout')}}" class="btn btn-default btn-flat">Sign out</a>
                </div>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a href="{{path('view_profile')}}"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
                    <span id="info"></span>

      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li>
          <a href="{{path('homepage')}}">
            <i class="fa fa-calendar"></i> <span>Dashboard</span>
          </a>
        </li>        
        <li class="treeview">
          <a href="#">
            <i class="fa fa-clock-o"></i>
            <span>Timetables</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">{{app.user.timetables|length}}</span>
            </span>
          </a>
          <ul class="treeview-menu">
            {% for tim_tab in app.user.timetables %}
            <li><a href="{{path('view_timetable', {'tbl': tim_tab.id})}}"><i class="fa fa-circle-o"></i> {{tim_tab.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
        <li>
          <a href="{{ path('choose_table_for_teacher_list') }}">
            <i class="fa fa-group"></i> <span>Teachers</span>
          </a>
        </li>
        <li>
          <a href="{{ path('choose_list_for_classs') }}">
            <i class="fa fa-tasks"></i> <span>Classes</span>
          </a>
        </li>
        <li>
          <a href="{{ path('choose_list_for_subject') }}">
            <i class="fa fa-folder"></i> <span>Subjects</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-user"></i>
            <span>Profile</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{path('view_profile')}}"><i class="fa fa-circle-o"></i> View Profile</a></li>
            <li><a href="{{path('logout')}}"><i class="fa fa-circle-o"></i> Logout</a></li>
          </ul>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

<!-- ./wrapper -->

