<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
{% block title %}
    {% if show_sth is defined and show_sth == "show_auto_button" %}
        <button type="button" data-toggle="modal" data-target="#auto_modal" class="btn btn-success btn-xl pull-right" style="margin-left:5px; margin-right:5px;">Automate</button>
        {# {% if tableformats|first %}
        <a href="{{path('pdf_timetable', {'tbl':tableformats[0].timetable.id })}}" class="btn btn-primary pull-right" style="margin-left:5px; margin-right:5px;"> Download PDF </a>
        <a href="{{path('image_timetable', {'tbl':tableformats[0].timetable.id})}}" class="btn btn-primary pull-right" style="margin-left:5px; margin-right:5px;">Download as Image </a>
      {% endif %} #}
    {% endif %}
  <h1>
    {{ action_title }}
    {% if timetable is defined %}
         For {{timetable.title}}
    {% elseif lastTimeTable is defined %}
         For {{lastTimeTable.title }}
    {% elseif data.timetable is defined %}
         For {{data.timetable.title }}
    {% endif %}
  </h1>
{% endblock %}
</section>
<!-- Main content -->
<section class="content">
    <!-- /.row -->
    {% block toplinks %}
        {{ include('templates/toplinks.html.twig') }}
    {% endblock %}

    {% block charts %}
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-8">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">


        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->
    {% endblock %}
    <div class="row">
        <div class="col-lg-8">

            {% block otherstuff_lg8 %}
            {% endblock %}
        </div>
        <div class="col-lg-4">
            {% block otherstuff_lg4 %}
            {% endblock %}
        </div>
    </div>
    <div class="row">
        {% block otherstuff_lg12 %}
        {% endblock %}
    </div>
</div>
<!-- /#page-wrapper -->
