{% extends 'base.html.twig' %}
{% block pagewrapper %}
    {% set action_title = "Add Time Plan" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}
	      <div class="col-md-6">
          <form action="" method="post">
	          <div class="box box-primary">
	            <div class="box-header with-border">
	              <h3 class="box-title">Time Plan</h3>
	            </div>
	           <div class="box-body">
						  <div class="form-group">
						    <label class=" control-label">Title (Only for Non Lesson Activities)</label><br />
						    <div class="col-sm-10">
						    	<input type="text" name="form[title]" id="title" class="form-control" placeholder="eg. Break, Lunch or Games">
						    </div>
						  </div>
						  <div class="form-group">
						    <label for="activity" class=" control-label">Activity Type [lesson / activity]</label>
						    <div class="col-sm-10">
								<select name="form[activity]" id="activity" class="form-control">
								    <option value="lesson">Lesson</option>
								    <option value="break">Non-Lesson/Activity</option>
								</select>
					    	</div>
						  </div>
						  <div class="form-group">
						    <label for="duration" class="control-label">Duration (Minutes)</label>
						    <div class="col-sm-10">
						    	<input type="text" name="form[duration]" id="duration" class="form-control" placeholder="e.g 45">
						    </div>
						  </div><br /><br/>

		         </div>
		              <!-- /.box-body -->

		           <div class="box-footer">
						  	<button class="btn btn-primary" type="button" id="save">Save</button>
						  	<a href="{{ path('list_tableFormats', {'tbl': timetable.id }) }}" class="btn btn-success" >PREVIEW</a>
						  	<a href="{{ path('homepage') }}" class="btn btn-danger" >DONE</a>
		           </div>
		          </div>
		         </form>
		          <!-- /.box -->
		      </div>
        {% if app.user.timetables|length > 1 %}
      <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Copy from another timetable</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
		          <div class="col-md-12">
		            <p class="text-center">
		              <strong>Use Order of Activities From Another Timetable</strong>
		            </p>
		            <div class="col-md-9">
		              <select id="timetables" class="form-control">
		                {% for timetbl in app.user.timetables %}
		                  {% if timetbl.id != timetable.id %}
		                    <option value="{{timetbl.id}}">{{timetbl.title}}</option>
		                  {% endif %}
		                {% endfor %}
		              </select>
		            </div>
		            <div class="col-md-3">
		              <button id="choose_from_this_timetable" class="btn btn-info"> NEXT </button>
		            </div>
		            <!-- /.progress-group -->
		          </div>
		        </div>
          </div>
          <!-- /.box -->

        </div>
      {% endif %}
		      <div class="col-md-6">
		          <!-- general form elements -->
		          <div class="box box-primary">
		            <div class="box-header with-border">
		              <h3 class="box-title">Order of Events For Each Day</h3>
		            </div>
		            <!-- /.box-header -->
		            <!-- form start -->
		              <div class="box-body">
		                <ol id="added_formats">
		                	{% for tableFormat in tableFormats %}
		                    	<li>{{tableFormat.title}} - {{tableFormat.activity}} - {{tableFormat.duration}}</li>
		                  	{% endfor %}
		                </ol>
		              </div>
		              <!-- /.box-body -->

		              <div class="box-footer">
                    *************************<br />
                    <span id="refresh_notify"></span>
		              </div>
		          </div>
		          <!-- /.box -->
		        </div>

		{% endblock %}
	{% endembed %}
{% endblock %}
{% block javascripts %}
  <script type="text/javascript">
    $(function() {
      $("#duration").focus();
    });
  </script>
  <script>
      $(document).on('click', '#choose_from_this_timetable', function(){
        var other_timetable = $('#timetables').val();
        var this_timetable = {{timetable.id}};
        var entity = 'TableFormat';
        $.ajax({
            url:'{{ (path('take_classes_from_this_timetable')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "other_timetable": other_timetable,
                "this_timetable": this_timetable,
                "entity": entity,
            },
            async: true,
            success: function (data)
            {
               location.href = data.url
            },
          error: function () {
                $("#info").html("<b>something's wrong</b>");
          }
        });

    });
  </script>
  <script>
	  $(document).on('click', '#save', function(){

			var title = $('#title').val();
			var activity = $('#activity').val();
			var duration = $('#duration').val();
			var timetable = "{{timetable.id}}";

			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('save_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
						"return": 'getActivity',
						"entity": 'TableFormat',
						"timetable": timetable,
						"fields": ['title', 'activity', 'duration'],
						"values": [title, activity, duration],
	        },
	        async: true,
	        success: function (data)
	        {
						console.log(data);
						$("#title").val('');
            $("#activity").val('lesson');
            $("#duration").select();
						$("#added_formats").append('<li>'+data+'</li>');
						$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
            $('#refresh_notify').text("Refresh / Reload page to see all details.");
	        },
		      error: function (xhr, status, error) {
						console.log('error');
		      }
	    });

	  });
	</script>
	<script>
	$(document).on('keyup', '#title',function (e){
			$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
	});
	$(document).on('change', '#activity',function (e){
			$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
	});
	</script>
	<script>
		$(document).on('keypress', '#duration', function(e){
			 var key = e.which;
			 if(key == 13){
					$("#save").click();
					e.preventDefault();
				} else {
					$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
				}
		});

</script>

{% endblock %}
