{% extends 'base.html.twig' %}
{% block pagewrapper %}
	{% set action_title = "Profile" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}

        {% block charts %}

    <!-- Main content -->
    <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              {# <img class="profile-user-img img-responsive img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture"> #}

              <h3 class="profile-username text-center">{{app.user.fName}} {{app.user.lName}}</h3>

              <p class="text-muted text-center">Admin</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>@{{app.user.username}}</b>
                </li>
                <li class="list-group-item">
                  <b>{{app.user.email}}</b>
                </li>
              </ul>

              <a href="{{path('logout')}}" class="btn btn-primary btn-block"><b>Logout</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Dashboard</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-book margin-r-5"></i> Timetables</strong>

              <p class="text-muted">
                {{app.user.timetables|length}} Timetables created so far. You can <a href="{{path('list_timetables')}}"> View them here </a> or even <a href="{{path('add_timetable')}}">Add a new one. </a>
              </p>

              <hr>

              <strong><i class="fa fa-map-marker margin-r-5"></i> Settings</strong>

              <p class="text-muted">Saved</p>

              <hr>

              <strong><i class="fa fa-pencil margin-r-5"></i> Teachers</strong>

              <p>
              	{% for teacher in app.user.teachers %}
                	<span class="label" style="background-color:{{teacher.color}}">{{teacher}}</span>
            	{% endfor %}
              </p>

            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
            <span id="info"></span>
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class=""><a href="#settings" data-toggle="tab" aria-expanded="false">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="settings">
                <form class="form-horizontal">
                  <div class="form-group">
                    <label for="schoolTitle" class="col-sm-2 control-label">School Title</label>
                    <div class="col-sm-10">
                      <input {% if app.user.configs|first.schoolTitle is defined %} value="{{app.user.configs|first.schoolTitle}}" {% endif %} class="form-control" id="schoolTitle" placeholder="School Title" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="schoolAddress" class="col-sm-2 control-label">School Address</label>

                    <div class="col-sm-10">
                      <input {% if app.user.configs|first.schoolAddress is defined %} value="{{app.user.configs|first.schoolAddress}}" {% endif %} class="form-control" id="schoolAddress" placeholder="School Address" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="maxLessonOccurances" class="col-sm-2 control-label">Lesson Appearance/Day</label>

                    <div class="col-sm-10">
                      <input {% if app.user.configs|first.maxLessonOccurances is defined %} value="{{app.user.configs|first.maxLessonOccurances}}" {% endif %} class="form-control" id="maxLessonOccurances" placeholder="Maximum times a lesson appears per day" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="tableEntries" class="col-sm-2 control-label">Table Entries/page</label>

                    <div class="col-sm-10">
	                  <select class="form-control" id="tableEntries">
	                    <option value="10" {% if app.user.configs|first.entriesPerPage is defined and app.user.configs|first.entriesPerPage == 10 %} selected {% endif %}>10</option>
	                    <option value="25" {% if app.user.configs|first.entriesPerPage is defined and app.user.configs|first.entriesPerPage == 25 %} selected {% endif %}>25</option>
	                    <option value="50" {% if app.user.configs|first.entriesPerPage is defined and app.user.configs|first.entriesPerPage == 50 %} selected {% endif %}>50</option>
	                    <option value="100" {% if app.user.configs|first.entriesPerPage is defined and app.user.configs|first.entriesPerPage == 100 %} selected {% endif %}>100</option>
	                  </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="footerMessage" class="col-sm-2 control-label">Footer Message</label>

                    <div class="col-sm-10">
                      <textarea class="form-control" id="footerMessage" placeholder="Footer Message"> {% if app.user.configs|first.footerMessage is defined %} {{app.user.configs|first.footerMessage}} {% endif %}</textarea>
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="sidebar" class="col-sm-2 control-label">Sidebar</label>

                    <div class="col-sm-10">
	                  <select class="form-control" id="sidebar">
	                    <option value="visible" {% if app.user.configs|first.sidebar is defined and app.user.configs|first.sidebar == 'visible' %} selected {% endif %}>Visible</option>
	                    <option value="collapse" {% if app.user.configs|first.sidebar is defined and app.user.configs|first.sidebar == 'collapse' %} selected {% endif %}>Collapsed</option>
	                  </select>

                    </div>
                  </div>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <button type="button" id="save_settings" class="btn btn-success">SAVE</button>
                      <a href="{{path('homepage')}}" class="btn btn-danger">DONE</a>
                    </div>
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
          <!-- /.nav-tabs-custom -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
  	<script>
        $( "#save_settings" ).click(function() {
          var schoolTitle = $("#schoolTitle").val();
          var schoolAddress = $("#schoolAddress").val();
          var tableEntries = $("#tableEntries").val();
          var maxLessonOccurances = $("#maxLessonOccurances").val();
          var footerMessage = $("#footerMessage").val();
          var sidebar = $("#sidebar").val();
	      	$.ajax({
	          	url:'{{ (path('save_settings')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
                  "schoolTitle": schoolTitle,
                  "schoolAddress": schoolAddress,
                  "tableEntries": tableEntries,
                  "maxLessonOccurances": maxLessonOccurances,
                  "footerMessage": footerMessage,
	              	"sidebar": sidebar,
	          	},
	          	async: true,
	          	success: function (data)
	          	{

                  $.notiny({ 
                    text: "Settings Saved",  
                    position: 'left-top',
                    delay: 5000,
                    theme: 'dark'
                  });
	          	},	
	         	error: function () {
	              	$("#warning").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>
{% endblock %}