{% extends 'base_collapse.html.twig' %}
{% block stylesheets %}

{% endblock %}

{% block pagewrapper %}
	  {% set action_title = "Full timetable" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
<style>
 	th, td {
    	border: 1px solid black;
     	border-collapse: collapse;
     	white-space: nowrap;
   	}
   	td, th{
   		padding:0px;
   		text-align: center;
   		text-transform: uppercase;
   	}

   	#page-wrapper{
   		margin:0px;
   	}

	.rotate {
	  text-align: center;
	  white-space: nowrap;
	  vertical-align: middle;
	  width: 1.5em;
	}

	.rotate div {
	     -moz-transform: rotate(-90.0deg);  /* FF3.5+ */
	       -o-transform: rotate(-90.0deg);  /* Opera 10.5 */
	  -webkit-transform: rotate(-90.0deg);  /* Saf3.1+, Chrome */
	             filter:  progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083);  /* IE6,IE7 */
	         -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0.083)"; /* IE8 */
	         margin-left: -10em;
	         margin-right: -10em;
	}
	.full_width tr td {
		display:block;
     	width:100%;
     	clear:both;

	}

	.loading {
	    background: url("{{ asset('images/loading.gif') }}") no-repeat scroll center center rgba(255,255,255,.3);
	    position: absolute;
			position:fixed;
	    padding:0;
	    margin:0;

	    top:0;
	    left:0;

	    width: 100%;
	    height: 100%;
	}
</style>
{% set total_possible_entries = timetable.classes|length * lesson_tableformats * 5 %}
{% set percentage_so_far = (timetable.timetablers|length / total_possible_entries) * 100 %}
resulting number : {{ lesson_tableformats }}
{# table starts here #}
<div class="panel panel-default">
	<div class="loading" style="text-align:center; padding:100px;">Working...</div>
    <div class="panel-heading">
       	{% set counter = 0 %}
       	Quick Settings: | <input type="checkbox" id="forceEntry" style="outline:1px solid black;">
		      <b> FORCE</b>
       	| <input type="checkbox" id="showHints" style="outline:1px solid black;" checked>
		      <b> HINTS</b>
       	| <button type="button" data-toggle="modal" data-target="#clearTimeTableModal" class="btn btn-danger btn-xs">Clear Timetable</button>
       	| <button type="button" data-toggle="modal" data-target="#showSummary" class="btn btn-primary btn-xs">Summary</button>
       	| <a href="{{path('list_teachers', {'tbl':timetable.id})}}" >Teachers: </a>
       	{% if tableformats|first %}
       	{% for position, teacher in tableformats[0].timetable.teachers %}
       		{% set postn = position + 1 %}
       		<a type="button" id="teacher-details-{{teacher.id}}" class="btn btn-xs" data-toggle="modal" data-target="#teacherModal_{{teacher.id}}" style="background-color:{{teacher.color}}">{{teacher.fName}} {{teacher.lName}}[{{teacher.code}}]</a>
       	{% endfor %}
       	{% endif %}
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <div class="">
        	{% set days_per_week = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'] %}
			{% if app.user.configs|first.splitDays == "dont" %}
            <table  style="width:100%;">

                <thead>
                    <tr>
                        <th id="day">Day</th>
                        <th id="class">Class</th>
                        {% for lesson_time in lesson_series %}
                        	<th id="activity_{{lesson_time|split('|')[1]}}">{{lesson_time|split('|')[0]}}</th>
                        {% endfor %}
                    </tr>
                </thead>
						{% endif %}
						{% set break = false %}
        		{% for day in days_per_week if not break %}
						{% if percentage_so_far >= 40 and (download == null and loop.index == 2) or (download and download.times <= 1 and loop.index == 2) %}
							{% set break = true %}
						{% endif %}
                {% if app.user.configs|first.splitDays == "by_days" %}
                <table style="width:100%;">
	                <thead>
	                    <tr>
	                        <th id="day">Day</th>
	                        <th id="class">Class</th>
	                        {% for lesson_time in lesson_series %}
	                            <th id="activity_{{lesson_time|split('|')[1]}}">{{lesson_time|split('|')[0]}}</th>
	                        {% endfor %}
	                    </tr>
	                </thead>
	            {% endif %}
                <tbody>
                	{% set height = classes|length * 30 %}
                    {% if height < 150 %}
                        {% set height = 150 %}
                    {% endif %}
                    <tr style="height:{{height}}px;" class="success">
                        <td class="rotate"><div>{{day|slice(0,3)}}</div></td>
                        <td>
                        	<table style="margin-bottom:0px;" class="table table-striped table-bordered table-hover">
                        		{% for class in classes %}
	                        		<tr id="class-{{class}}_day-{{day}}">
	                        			<td style="padding:3.2px;" id="class_"><a href="{{path('view_timetable_for_class', {'classId': class.id, 'tbl': timetable.id} ) }}">{{class}}</a></td>
	                        		</tr>
	                        	{% endfor %}
                        	</table>
                        </td>
                        {% set counterz = 0 %}
                        {% for tableformat in tableformats %}
                        	{% if tableformat.activity == 'lesson' %}
		                        <td id="with_children">
		                        	<table style="margin-bottom:0px;" class="full_width table table-bordered table-hover">
		                        		{% set counter = 0 %}
		                        		{% for class in classes %}
			                        		<tr style=" " id="class-{{class}}_day-{{day}}_tblfmt-{{tableformat.id}}" data-toggle="modal" data-target="#timetableModal_{{class}}_{{day}}_{{tableformat.id}}">
			                        				{% set key = tableformat.id ~ "." ~ class ~ "." ~ day %}
																			{% set subject = "" %}
																			{% set subj = "" %}
																			{% set color = "" %}
																			{% set position = "" %}
			                        				{% if key  in keys_string %}
																				{% for an_item in items %}
																					{% if an_item[key] is defined %}
																					{% if subj != "" or subject != "" %} {% set subj = subj ~ "|" %} {% set subject = subject ~ "|" %} {% endif %}
					                        					{% set subject = subject ~  an_item[key]|split("|")[0] %}
					                        					{% set subj = subj ~ an_item[key]|split("|")[0]|slice(0,3) %}
					                        					{% set color = color ~ an_item[key]|split("|")[1] %}
					                        					{% set position = position ~ "[" ~ an_item[key]|split("|")[2] ~ "]" %}
					                        				{% endif %}
																				{% endfor %}
																			{% else %}
																					{% set subject = subject ~ '___' %}
																					{% set subj = subj ~ '___' %}
																					{% set color = color ~ '' %}
																					{% set position = position ~ '' %}
																			{% endif %}

			                        			<td class="class-{{class}}_day-{{day}}_tblfmt-{{tableformat.id}}" style="padding:2px; cursor:pointer; background-color:{{color}}; font-size:15px; font-weight:bold;">
                                      {% if app.user.configs|first.teacherNumbers == "visible" %}
                                      	{{subj}} {{position}}
                                      {% else %}
                                      	{{subject}}
                                      {% endif %}
			                        			</td>
			                        			{# Modal for every tr #}


			                        		</tr>
		                        			{% set counter = counter + 1 %}
			                        	{% endfor %}
		                        	</table>
		                        </td>
		                    {% else %}
		                        <td class="rotate" rowspan="1">
		                        	<div>{{tableformat.title}}</div>
		                        </td>
	                    	{% endif %}
	                    	{% if counterz <= lesson_series|length %}
	                    		{% set counterz = counterz + 1 %}
	                    	{% endif %}
                        {% endfor %}
                    </tr>
                </tbody>
			   			{% if app.user.configs|first.splitDays == "by_days" %} </table> {% endif %}
              {% endfor %}

            {% if app.user.configs|first.splitDays == "dont" %}  </table> {% endif %}
        </div>
        <!-- /.table-responsive -->
				{% if percentage_so_far >= 40 and (download == null) or (download and download.times <= 1) %}
				<div class="col-lg-12 text-center" style="background-color:white; font-size:15px;">
					<h2>Congratulations!</h2>
					<p><strong>You're now 40% done. Please take a moment to appreciate me.</strong></p>
					<p><strong>Buy me a cake - Ksh 300/=</strong></p>
					<p><strong>Send through MPESA to: 0716339886, receive 3 codes within 15 seconds.</strong></p>
					<p><strong>Submit the Codes Below seperated by comma</strong></p>
					<p><strong>Complete your job and download Your Stuff.</strong></p>
					<form class="form-inline">
						<div class="form-group">
							<label class="sr-only" for="exampleInputAmount">Amount (in Kshs)</label>
							<div class="input-group">
								<div class="input-group-addon">Code</div>
								<input type="text" class="form-control" id="code_input" placeholder="XXX-XXX,XXX-XXX,XXX-XXX">
							</div>
						</div>
						<button type="button" id="check_code" class="btn btn-warning">Submit Code!</button>
					</form>
					<p class="text-danger" id="error"></p>
					<p class="text-success" id="success"></p>
				</div>
				{% endif %}
    </div>
    <!-- /.panel-body -->
</div>
{# table ends here #}
{% for teacher in tableformats[0].timetable.teachers %}
<div class="modal modal-success fade" id="teacherModal_{{teacher.id}}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" style="background-color:{{teacher.color}}!important">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">{{teacher}}</h4>
      </div>
      <div class="modal-body-{{teacher.id}}">

      </div>
      <div class="modal-footer" style="background-color:{{teacher.color}}!important">
        <button type="button" class="btn btn-danger pull-right" data-dismiss="modal">Close</button>
        <a href="{{path('view_timetable_single_teacher', {'teacherId': teacher.id, 'tbl': timetable.id} ) }}" class="btn btn-primary">{{teacher}}'s Timetable</a>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
{% endfor %}
<div class="modal fade" id="auto_modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Lessons Per Week. Automatic Placement</h4>
      </div>
      <div class="modal-body" id="to_append">
		<div class="row">
		    <div class="col-sm-2">
		        <div class="form-group">
		           <input type="text" class="form-control col-sm-4" placeholder="e.g. 5" id="auto_quantity" />
		        </div>
		    </div>
		    <div class="col-sm-3">
			    <select class="col-sm-4 form-control auto_subject">
		        	<option value="">Lesson</option>
		        	{% for subject in timetable.subjects %}
		            	<option value="{{subject.id}}">{{subject.sTitle}}</option>
		            {% endfor %}
		        </select>
		    </div>
		    <div class="col-sm-3">
			    <select class="col-sm-4 form-control auto_class">
		        	<option value="all">All Classes</option>
		        	{% for class in timetable.classes %}
		            	<option value="{{class.id}}">{{class.cTitle}}</option>
		            {% endfor %}
		        </select>
		    </div>
		    <div class="col-sm-4">
			    <select class="col-sm-4 form-control auto_time">
		            <option value="freestyle">Any Time</option>
		            {% for slot in tableformats %}
		            	{% set slot_position = slot.id %}
		            	<option value="{{loop.index}}">Before slot {{loop.index}}</option>
		            {% endfor %}
		        </select>
		    </div>
		</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
        <button type="button" id="auto" class="btn btn-primary" data-dismiss="modal">Place Lessons</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<div class="modal fade" id="clearTimeTableModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Clear All Entries From {{timetable.title}}</h4>
      </div>
      <div class="modal-body">
      	<p>Are you sure you want to delete all entries from {{timetable.title}}?</p>
      	<p>Or may be you want to delete a specific subject?</p>
      	<div>
            <select class="form-control deleteSubjects">
            	<option value="">Select Subject To Delete</option>
            	{% for subject in timetable.subjects %}
                	<option value="{{subject.id}}">{{subject.sTitle}}</option>
                {% endfor %}
            </select>
        </div>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info pull-left" data-dismiss="modal">Cancel</button>
        <button type="button" id="deleteSubjectFromTimetable" class="btn btn-warning" data-dismiss="modal">Delete Subject From Timetable</button>
        <button type="button" id="clearTimeTable" class="btn btn-danger" data-dismiss="modal">Delete Everything</button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="showSummary">
  <div class="modal-dialog" style="width:100%; height:100%; margin:0; padding:0">
    <div class="modal-content" style="height: auto; min-height: 100%; border-radius: 0;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span></button>
        <h4 class="modal-title">Timetable Lessons Summary</h4>
      </div>
      <div class="modal-body">
		<table class="table table-striped table-bordered table-hover">
			<tr>
				<td>Subject</td>
				{% for class in timetable.classes %}
				<td>Rm {{class.cTitle}}</td>
				{% endfor %}
			</tr>
			{% for subject in timetable.subjects %}
			<tr>
				<td>{{subject.sTitle}}</td>
				{% for class in timetable.classes %}
					{% set tblArray = [] %}
					{% for timetabler in timetablers %}
						{% if timetabler.subject == subject and timetabler.class == class %}
							{% set tblArray = tblArray|merge([timetabler.id]) %}
						{% endif %}
					{% endfor %}
				<td>{{tblArray|length}}</td>
				{% endfor %}

			</tr>
			{% endfor %}
		</table>

      </div>
      <div class="modal-footer">
				<button id="refresher" class="btn btn-info btn-lg"> Refresh to see updated summary </button>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>

{% for day in days_per_week if not break %}
{% if percentage_so_far >= 40 and (download == null and loop.index == 2) or (download and download.times <= 1 and loop.index == 2) %}
	{% set break = true %}
{% endif %}
	{% for class in classes %}
	{% set counterz = 0 %}

		{% for tableformat in tableformats %}
		<div class="modal fade" id="timetableModal_{{class}}_{{day}}_{{tableformat.id}}" tabindex="-1" role="dialog" aria-labelledby="timetableModalLabel" aria-hidden="true" style="display: none;">
				<div class="modal-dialog">
						<div class="modal-content">
								<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
										<h4 class="modal-title" id="timetableModalLabel">Place Subject</h4>
								</div>
								<div class="modal-body text-center">
										<div class="list-group">
											{% for classSubj in tableformat.timetable.classSubjects %}
												{# {{dump(classSubj)}} #}
												{% if classSubj.cClass == class %}
													<a href="#" id="classSubj_{{classSubj.id}}|subj_{{classSubj.subject.id}}|time_{{lesson_series[counterz]|split('|')[0]}}|tbl_{{timetable.id}}|day_{{day}}|frmtcol_{{tableformat.id}}"
														style="background-color:{{classSubj.teacher.color}}"
														class="list-group-item list-group-item-action"
														data-dismiss="modal">
														<span style="text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white; font-weight:bold;">{{classSubj.subject.sTitle}} ({{classSubj.teacher.fName}}{{classSubj.teacher.lName}}) </span>
													</a>
												{% endif %}
											{% endfor %}
											<hr />
							<div class="row">
								<h3>Fix a Quick Lesson</h3>
									<div class="col-sm-4">
											<div class="form-group">
													<select class="form-control fixSubject">
														<option value="">Select Subject</option>
														{% for subject in tableformat.timetable.subjects %}
																<option value="{{subject.id}}">{{subject.sTitle}}</option>
															{% endfor %}
													</select>
											</div>
									</div>
									<div class="col-sm-4">
											<div class="form-group">
													<select class="form-control fixTeacher">
														<option value="">Select Teacher</option>
														{% for teacher in tableformat.timetable.teachers %}
																<option value="{{teacher.id}}">{{teacher}}</option>
															{% endfor %}
													</select>
											</div>
									</div>
									<div class="col-sm-4">
											<div class="form-group">
										<button id="fixLesson_{{tableformat.id}}|class_{{class.id}}|day_{{day}}|tblfmt_{{tableformat.id}}|time_{{lesson_series[counterz]|split('|')[0]}}|cls_{{class}}" type="button" data-dismiss="modal" class="btn btn-primary">Place Lesson</button>
											</div>
									</div>
							</div>
							<a href="#" class="list-group-item list-group-item-action" id="removeDay_{{day}}|class_{{class.id}}|time_{{lesson_series[counterz]|split('|')[0]}}|tblfmt_{{tableformat.id}}" data-dismiss="modal">Remove Lesson</a>
											<a href="{{ path('list_teachers', {'tbl':timetable.id }) }}" class="list-group-item list-group-item-action">Add Lessons for Timetable</a>
										</div>
								</div>
								<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								</div>
						</div>
						<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
		</div>
		{% if counterz <= lesson_series|length %}
			{% set counterz = counterz + 1 %}
		{% endif %}

		{% endfor %}

	{% endfor %}

{% endfor %}
 <input id="teacherFixed" type="hidden" />
<input id="subjectFixed" type="hidden" />
<input id="deleteSubjectFixed" type="hidden" />
       {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    <script>
		$(window).on('load', function () {
		   $('.loading').fadeOut();
		});
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

  	<script>
  	    $(document).on('click', '[id="refresher"]', function(){
					location.reload();
				});
		</script>
  	<script>
  	    $(document).on('click', '[id^="classSubj_"]', function(){
  	    	var id = jQuery(this).attr("id");

				if ($('#forceEntry').is(':checked')) {
			        var forced = 'true';
			    } else {
			        var forced = 'false';
			    }
					$(".loading").show();
			    $.ajax({
	          	url:'{{ (path('save_timetable_entry')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"info": id,
	              	"forced": forced,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
								if($("."+data.output['string']).text().trim() == "___"){
									$("."+data.output['string']).text("");
								}
	              	console.log(data.output['string']);
	              	$("."+data.output['string']).css(
	              		{
	              			"background-color" : data.output['color'],
	              			"font-size" : "15px",
	              			"font-weight" : "bold",
	              			"padding" : "2px",
	              			"border" : "1px solid fff"
	              		}).append(data.output['subject']);
	              	// $("#info").html(data.message);
									$(".loading").hide();
	              	$.notiny({
		            	text: data.message[data.message.length -1],
		            	position: 'right-top',
		            	delay: 5000,
		            	theme: data.theme
		            });
	          	},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>
  	<script>
  	    $(document).on('click', '[id^="removeDay_"]', function(){
  	    	var id = jQuery(this).attr("id");
	      	$.ajax({
	          	url:'{{ (path('remove_timetable_entry')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"info": id,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
	              	$.notiny({
		            	text: data.message,
		            	position: 'right-top',
		            	delay: 5000,
		            	theme: 'dark'
		            });
		            $("."+data.id).html('<td style="padding:2px; cursor:pointer; background-color:#ffffff; font-size:15px; font-weight:bold;">___</td>');
	          	},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>

  	<script>
  	    $(document).on('click', '[id^="class-"]', function(){
  	    	var id = jQuery(this).attr("id");
	      	$.ajax({
	          	url:'{{ (path('give_hints')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"info": id,
	              	"timetable": {{timetable.id}},
	          	},
	          	async: true,
	          	success: function (data)
	          	{
	          		if ($('#showHints').is(':checked')) {
				        $.notiny({
			            	text: data,
			            	position: 'left-top',
			            	delay: 5000,
			            	theme: 'dark'
			            });
				    } else {
				        //do nothing
				    }
			        console.log(data);
	          	},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('#auto_modal').on('shown.bs.modal', function() {
				if ($('#forceEntry').is(':checked')) {
			        var forced = 'true';
			        $('#to_append').append('<p id="warn" style="color:red; font-size: 18px; font-weight:bold; margin: 10px;">You may need to uncheck the "FORCE" feature. It may input undesired entries.</p>');
			    } else {
			        var forced = 'false';
			        $('#warn').remove();
			    }


			})
		});
	</script>
  	<script>
  	    $(document).on('click', '[id^="teacher-details-"]', function(){
  	    	var id = jQuery(this).attr("id");
	      	$.ajax({
	          	url:'{{ (path('show_teacher_details')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"info": id,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
	              	$(".modal-body-"+data[0]).html(
	              		data[1]
	              	);

	          	},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>
  	<script>
  	    $(document).on('click', '#clearTimeTable', function(){
  	    	var timetable = {{timetable.id}};
	      	$.ajax({
	          	url:'{{ (path('clear_timetable')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"timetable": timetable,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
	              	$.notiny({
		            	text: 'Successfully deleted all entries',
		            	position: 'right-top',
		            	delay: 5000,
		            	theme: data.theme
		            });
					location.reload();

	          	},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>
  	<script>
  	    $(document).on('click', '#auto', function(){
  	    	var timetableId = {{timetable.id}};
  	    	var auto_quantity = $("#auto_quantity").val();
  	    	var auto_subject = $(".auto_subject").val();
  	    	var auto_class = $(".auto_class").val();
  	    	var auto_time = $(".auto_time").val();
			if ($('#forceEntry').is(':checked')) {
		        var forced = 'true';
		    } else {
		        var forced = 'false';
		    }
				$(".loading").show();
	      	$.ajax({
	          	url:'{{ (path('save_entries_auto')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"timetableId": timetableId,
	              	"auto_quantity": auto_quantity,
	              	"auto_subject": auto_subject,
	              	"auto_class": auto_class,
	              	"auto_time": auto_time,
	              	"forced": forced,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
					console.log(data);
					if(data.reload == 'true'){
						location.reload();
					} else {
		              	$.notiny({
			            	text: data.message[data.message.length -1],
			            	position: 'right-top',
			            	delay: 5000,
			            	theme: data.theme
			            });
					}
					$(".loading").hide();
				},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});

	  	});
  	</script>
	<script type="text/javascript">
  	    $(document).on('click', '[id^="fixLesson_"]', function(){
			if ($('#forceEntry').is(':checked')) {
		        var forced = 'true';
		    } else {
		        var forced = 'false';
		    }

  	    	var id = jQuery(this).attr("id");
  	    	var timetable = {{timetable.id}};
  	    	var classSubj = 0;
  	    	var subject = $("#subjectFixed").val();
  	    	var teacher = $("#teacherFixed").val();

	      	$.ajax({
	          	url:'{{ (path('fix_timetable_entry')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"info": id,
	              	"classSubj": classSubj,
	              	"subject": subject,
	              	"teacher": teacher,
	              	"forced": forced,
	              	"timetable": timetable,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
	              	$("."+data.output['string']).css(
	              		{
	              			"background-color" : data.output['color'],
	              			"font-size" : "15px",
	              			"font-weight" : "bold",
	              			"padding" : "2px",
	              			"border" : "1px solid fff"
	              		}).text(data.output['subject']);
	              	// $("#info").html(data.message);
	              	$.notiny({
		            	text: data.message[data.message.length -1],
		            	position: 'right-top',
		            	delay: 5000,
		            	theme: data.theme
		            });
	          	},
	         	error: function () {
	              	$("#info").html("<b>something's wrong</b>");
	       	 	}
	      	});
	    });

	</script>
	<script type="text/javascript">
  	    $(document).on('click', '[id^="deleteSubjectFromTimetable"]', function(){

  	    	var id = jQuery(this).attr("id");
  	    	var timetable = {{timetable.id}};
  	    	var subject_id = $("#deleteSubjectFixed").val();

	      	$.ajax({
	          	url:'{{ (path('delete_all_such_subjects')) }}',
	          	type: "POST",
	          	dataType: "json",
	          	data: {
	              	"info": id,
	              	"subject_id": subject_id,
	              	"timetable": timetable,
	          	},
	          	async: true,
	          	success: function (data)
	          	{
	              	$.notiny({
		            	text: data,
		            	position: 'right-top',
		            	delay: 5000,
		            	theme: data.theme
		            });

					location.reload();
	          	},
	         	error: function () {
	              	console.log("No deletions occured");
	       	 	}
	      	});
	    });

	</script>
	<script type="text/javascript">
		$(document).on('change', '.fixTeacher', function() {
			console.log($( this ).val());
	      $("#teacherFixed").val($( this ).val());
		});

		$(document).on('change', '.fixSubject', function() {
			console.log($( this ).val());
	      $("#subjectFixed").val($( this ).val());
		});

		$(document).on('change', '.deleteSubjects', function() {
			console.log("value: " + $( this ).val());
	      $("#deleteSubjectFixed").val($( this ).val());
		});

	</script>
  <script>
  	$(document).on('keypress', '#code_input', function(e){
  		 var key = e.which;
  		 if(key == 13){
  				$("#check_code").click();
  				e.preventDefault();
  			} else {
  				$('#check_code').html('Submit Code(s)').removeClass('btn-success').addClass('btn-warning');
  			}
  	});

  </script>
	<script>
	  $(document).on('click', '[id="check_code"]', function(){

	      var code = $("#code_input").val();
	      var timetable_id = "{{timetable.id}}";

				$('#check_code').html('Please Wait... ');
	      $.ajax({
	          url:'{{ (path('check_code_validity')) }}',
	          type: "POST",
	          dataType: "json",
	          data: {
	              "code": code,
								"timetable_id": timetable_id,
	          },
	          async: true,
	          success: function (data)
	          {
	            if(data.success == true){
	              $("#error").text("");
	              $("#success").html(data.message);
	              $("#code_input").val("");
	              window.location.href = data.address;
								$('#check_code').html('Nice!');
	            } else {
	              $("#success").text("");
	              $("#error").html(data.message);
								$('#check_code').html('Oops!');
	            }
	            console.log(data);
	          },
	         error: function () {
	            $("#success").text("");
	            $("#error").text("something went wrong. Please call 0705285959 for assistance");
	          }
	      });

	  });
	</script>

{% endblock %}

{# purchase / 0.55 = reporting price //what I heard
purchase / 0.755 = reporting price //what I think is the case


reporting price = 6000


tithe = 6000 X .045 (270)
5% = 6000 X .05 (300)
tax = 6000 X .16 (960)

kimomi

6000 X .755 = purchasing price  no savings (4530)
6000 X .805 = purchasing price with savings (4830) #}
{# settings:

error proof / crash proof
hints
number of lessons per teacher on click

when adding clases, subjects etc, use teachers from this or this timetable
 #}
 {# 0700550007/0712250987 radiant hospital #}
