{% extends 'base.html.twig' %}
{% block stylesheets %}

 <link href="{{ asset('spectrum/spectrum.css') }}" rel="stylesheet">
{% endblock %}
{% block pagewrapper %}
    {% set action_title = "Add Teachers" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
            {% block otherstuff_lg12 %}
              {# {{ dump(data) }} #}
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Add Teachers</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">

            {{ form_start(form, {'method': 'post', 'attr': {'class': '' }} ) }}
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                    {% if not form.vars.valid %}
                      <div class="alert alert-warning">
                      {{ form_errors(form) }}
                      </div>        
                    {% endif %}
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                 <div class="form-group">
                                    <label>First Name</label>
                                      {{ form_widget(form.f_name, {'attr': {'class': 'form-control', 'placeholder': 'First name', 'id': 'first_name', 'value': 'Tr.' }} ) }}
                                    </div>
                                    <div class="form-group">
                                    <label>Last Name</label>
                                      {{ form_widget(form.l_name, {'attr': {'class': 'form-control', 'placeholder': 'Last name', 'id': 'second_name' }} ) }}
                                    </div>
                                    <div class="form-group">
                                    <label>Color</label>
                                      {{ form_widget(form.color, {'attr': {'class': 'form-control' }} ) }}
                                    </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>


                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                  {{ form_widget(form.save, {'attr': {'class': 'btn btn-primary' }} ) }}
                  {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-info' }} ) }}                               
                  <a href="{{path('homepage')}}" class="btn btn-danger">DONE</a>
              </div>
          </div>
               {{ form_end(form) }}
          <!-- /.box -->
        </div>
    
          <div class="col-md-6">
              <!-- general form elements -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title">Added Teachers</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                  <div class="box-body">
                    {% for teacher in data.teachers %}                              
                      <div class="list-group">
                          <a href="#" class="list-group-item">
                              <i class="fa fa-comment fa-fw"></i> {{teacher.fName}} {{teacher.lName}}
                              <span style="background-color:{{teacher.color}}" class="pull-right text-muted small"><em>{{teacher.color}}</em>
                              </span>
                          </a>
                      </div>
                    {% endfor %}
                  </div>
                  <!-- /.box-body -->

                  <div class="box-footer">
                    *************************
                  </div>
              </div>
              <!-- /.box -->
            </div>
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('spectrum/spectrum.js') }}"></script>
<script>
$("#teacher_color").spectrum({
    preferredFormat: "hex",
    showInput: true,
    showPalette: true,
    palette: [["red", "rgba(0, 255, 0, .5)", "rgb(0, 0, 255)"]]
});
// Show the original input to demonstrate the value changing when calling `set`
$("#teacher_color").show();
</script>
  <script type="text/javascript">
    $(function() {
      $("#teacher_l_name").focus();
    });    
  </script>

{% endblock %}

