{% extends 'base.html.twig' %}
{% block stylesheets %}

 <link href="{{ asset('spectrum/spectrum.css') }}" rel="stylesheet">
{% endblock %}
{% block pagewrapper %}
    {% set action_title = "Add Teachers" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
            {% block otherstuff_lg12 %}
              {# {{ dump(data) }} #}
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Edit Teacher</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <a href="{{path('list_teachers',{'tbl': data.timetable.id })}}" class="btn btn-info">Teachers List</a>
                <a href="{{path('list_classes',{'tbl': data.timetable.id })}}" class="btn btn-info">Classes List</a>
            <form id="form">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                 <div class="form-group">
                                    <label>First Name</label>
                                      <input class="form-control" type="text" id="fName" value="{{data.teacher.fName}}" placeholder="First Name" value="Tr." />
                                    </div>
                                    <div class="form-group">
                                    <label>Last Name</label>
                                      <input class="form-control" type="text" id="lName" placeholder="Last Name"  value="{{data.teacher.lName}}" />
                                    </div>
                                    <div class="form-group">
                                    <label>Teacher's Code</label>
                                      <input class="form-control" type="text" id="code" placeholder="Teacher's Code"  value="{{data.teacher.code}}" />
                                    </div>
                                    <div class="form-group">
                                    <label>Color</label>
                                      <input class="form-control" type="text" id="teacher_color" placeholder="Color Hex Code" value="{{data.teacher.color}}"/>
                                    </div>
                                <!-- /.col-lg-6 (nested) -->

                            </div>


                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                  <button class="btn btn-primary" type="button" id="save">Save</button>
                  <a href="{{path('homepage')}}" class="btn btn-danger pull-right">Cancel</a>
              </div>
          </div>
        </form>
        </div>
          <!-- /.box -->
        {% endblock %}
    {% endembed %}
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('spectrum/spectrum.js') }}"></script>
<script>
$("#teacher_color").spectrum({
    preferredFormat: "hex",
    showInput: true,
    showPalette: true,
    palette: [["red", "rgba(0, 255, 0, .5)", "rgb(0, 0, 255)"]]
});
// Show the original input to demonstrate the value changing when calling `set`
$("#teacher_color").show();
</script>
  <script type="text/javascript">
    $(function() {
      $("#lName").focus();
    });
  </script>
  <script>
	  $(document).on('click', '#save', function(){

			var f_name = $('#fName').val();
			var l_name = $('#lName').val();
			var code = $('#code').val();
			var teacher_color= $('#teacher_color').val();
			var timetable = "{{data.timetable.id}}";
			var id = "{{data.teacher.id}}";

			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('edit_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
						"return": 'getLName',
						"entity": 'Teacher',
						"id": id,
						"timetable": timetable,
						"fields": ['fName', 'lName', 'code', 'color'],
						"values": [f_name, l_name, code, teacher_color],
	        },
	        async: true,
	        success: function (data)
	        {
						console.log(data);
						$("#lName").focus();
						$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
	        },
		      error: function (xhr, status, error) {
						console.log('error');
		      }
	    });

	  });
	</script>
	<script>
	$(document).on('keyup', '#lName',function (e){
			$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
	});
	</script>
	<script>
		$(document).on('keypress', '#code', function(e){
			 var key = e.which;
			 if(key == 13){
					$("#save").click();
					e.preventDefault();
				} else {
					$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
				}
		});

</script>

{% endblock %}
