{% extends 'base.html.twig' %}

{% block pagewrapper %}
    {% set action_title = student %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}
            {% for message in app.flashes('error') %}
                <div class="alert alert-warning">
                    {{ message }}
                </div>
            {% endfor %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    Class: {{ student.classs }} | Age: {{ student.age }} | Gender: {{ student.gender }} | Parent's Phone: {{ student.contact }}.
                </div>
                    {# marks, company etc.. #}
                <div class="panel-body">
                    <div class="col-lg-12">
                        {% set title = 'Exam Scores History' %}
                        {% include "templates/barchart.html.twig" with {title: title} %}
                    </div>
                    <div class="col-lg-12">
                        {% set title = 'Exam Total Marks History' %}
                        {% include "templates/barchart2.html.twig" with {title: title} %}
                    </div>
                    <div class="col-lg-12">
                        {% set title = 'Attendance Points: ' ~ attendedPoints ~ ' Out of ' ~ totalPoints %}
                        {% include "templates/areachart.html.twig" with {title: title} %}
                    </div>
                </div>

            </div>

		{% endblock %}      
    {% endembed %}
{% endblock %}
