{% extends 'base.html.twig' %}
{% block pagewrapper %}
    {% set action_title = "Assign Subject to " ~ teacher.fName ~ " " ~ teacher.lName %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <form action="" method="post">
            <div class="box-header with-border">
              <h3 class="box-title">Add Subjects For {{teacher.fName}} {{teacher.lName}}</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
		        <a href="{{path('add_subject',{'tbl': timetable.id })}}" class="btn btn-info">Add More Subjects</a>
            <a href="{{path('list_teachers',{'tbl': timetable.id })}}" class="btn btn-info">Teachers List</a>
		        <a href="{{path('list_timetables')}}" class="btn btn-info">Timetables</a>
					  <div class="form-group">
					    <label for="class" class="col-sm-2 control-label">Subject</label>
					    <div class="col-sm-10">
							<select name="form[subject]" id="class_subject_subject" class="form-control">
								{% for subject in app.user.subjects %}
									{% if subject.timetable.id == timetable.id %}
							    	<option value="{{subject.id}}">{{subject}}</option>
									{% endif %}
								{% endfor %}
							</select>	
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="class" class="col-sm-2 control-label">Class</label>
					    <div class="col-sm-10">
							<select name="form[class]" id="class_subject_class" class="form-control">
								{% for class in classes %}
							    	<option value="{{class}}">{{class}}</option>
								{% endfor %}
							</select>	
				    	</div>
					  </div>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
			  	<input type="submit" class="btn btn-primary" value="SAVE">
			  	<a href="{{ path('list_classSubjects', {'tbl': timetable.id}) }}" class="btn btn-success" >LIST</a>
			  	<a href="{{ path('list_teachers', {'tbl': timetable.id }) }}" class="btn btn-danger" >EXIT</a>
          </div>
			   </form>
      </div>
      <div class="col-md-12">
        <p class="text-center">
          <strong>Classes</strong>
        </p>

        {% for class in classes %}
          Class {{ class }}
            <div class="progress-group">|
            {% for classsubject in class.classSubjects %}
              <span class="progress-text" style="background-color:{{classsubject.teacher.color}};">{{classsubject.subject.sTitle}}</span> |
            {% endfor %}
            </div>
            <span class="progress-number"><b>{{class.classSubjects|length}}</b>/{{subjects|length}}</span>
            {% set percentage = class.classSubjects|length / subjects|length * 100 %}
            <div class="progress sm">
              <div class="progress-bar progress-bar-aqua" style="width: {{percentage}}%"></div>
            </div>
            

        {% endfor %}

        <!-- /.progress-group -->
      </div> 

		</div>

      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Added Class-Subject Relations</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <ol>
                  {% for classsubject in classsubjects %}
                    <li>{{classsubject.subject}} - Class {{classsubject.cClass}} - {{classsubject.teacher.fName}} {{classsubject.teacher.lName}}</li>
                  {% endfor %}
                </ol>
              </div>
              <!-- /.box-body -->

              <div class="box-footer bg-teal">
                  <ol>
                {% for teacher in teachers %}
                  <li>{{ teacher }} - {{ teacher.classSubjects|length }} Lessons </li>
                {% endfor %}
                  </ol>
              </div>
          </div>
          <!-- /.box -->
        </div>

		{% endblock %}
	{% endembed %}
{% endblock %}

