{% extends 'base.html.twig' %}
{% block pagewrapper %}
    {% set action_title = "Assign Subject to " ~ teacher.fName ~ " " ~ teacher.lName %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg12 %}
      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <form id="form">
            <div class="box-header with-border">
              <h3 class="box-title">Add Subjects For <span style="background-color:{{teacher.color}}">{{teacher.fName}} {{teacher.lName}}</span></h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div class="box-body">
		        <a href="{{path('add_subject',{'tbl': timetable.id })}}" class="btn btn-info">Add More Subjects</a>
            <a href="{{path('list_teachers',{'tbl': timetable.id })}}" class="btn btn-info">Teachers List</a>
		        <a href="{{path('list_timetables')}}" class="btn btn-info">Timetables</a>
            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#availableSubjects">Available Subjects</button>

            <hr />
					  <div class="form-group">
					    <label for="subject" class="col-sm-2 control-label">Subject</label>
					    <div class="col-sm-10">
							<select id="subject" id="class_subject_subject" class="form-control">
								{% for subject in timetable.subjects %}
									{% if subject.timetable.id == timetable.id %}
							    	<option value="{{subject.id}}">{{subject}}</option>
									{% endif %}
								{% endfor %}
							</select>
					    </div>
					  </div>
					  <div class="form-group">
					    <label for="class" class="col-sm-2 control-label">Class</label>
					    <div class="col-sm-10">
							<select id="class" id="class_subject_class" class="form-control">
								{% for class in timetable.classes %}
							    	<option value="{{class.id}}">{{class}}</option>
								{% endfor %}
							</select>
				    	</div>
					  </div>
              </div>
              <!-- /.box-body -->

          <div class="box-footer">
			  	<button class="btn btn-primary" type="button" id="save">Save</button>
			  	<a href="{{ path('list_classSubjects', {'tbl': timetable.id}) }}" class="btn btn-success" >LIST</a>
			  	<a href="{{ path('list_teachers', {'tbl': timetable.id }) }}" class="btn btn-danger" >EXIT</a>
			  	<a href="{{ path('summary_class_subjects', {'tbl': timetable.id }) }}" class="btn btn-primary pull-right" >SUMMARY</a>
          </div>
			   </form>
      </div>

		</div>

      <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Added Subjects & Classes</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <ol id="added_relations">
                  {% for classsubject in teacher.classsubjects %}
                    <li>{{classsubject.subject}} - Class [ {{classsubject.cClass}} ]</li>
                  {% endfor %}
                </ol>
              </div>
              <!-- /.box-body -->
          </div>
        </div>
          <!-- /.box -->
      {% if app.user.timetables|length > 1 %}
      <div class="col-md-6">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Class-Subject Relations</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
              <div class="box-body">
                <div class="col-md-12">
                  <p class="text-center">
                    <strong>Use Relations From Another Timetable</strong>
                  </p>
                  <div class="col-md-9">
                    <select id="timetables" class="form-control">
                      {% for timetbl in app.user.timetables %}
                        {% if timetbl.id != timetable.id %}
                          <option value="{{timetbl.id}}">{{timetbl.title}}</option>
                        {% endif %}
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-md-3">
                    <button id="choose_from_this_timetable" class="btn btn-info"> NEXT </button>
                  </div>
                  <!-- /.progress-group -->
                </div>
              </div>
              <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
      {% endif %}
        <div class="modal fade" id="availableSubjects" style="display: none;">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">Available Subjects</h4>
              </div>
              <div class="modal-body">
                  <ul class="list-group">
                    {% for subject in timetable.subjects %}
                      <li class="list-group-item">{{subject.sTitle}}</li>
                    {% endfor %}
                  </ul>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-outline">Save changes</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
		{% endblock %}
	{% endembed %}
{% endblock %}

{% block javascripts %}
  <script>
      $(document).on('click', '#choose_from_this_timetable', function(){
        var other_timetable = $('#timetables').val();
        var this_timetable = {{timetable.id}};
        var entity = 'ClassSubject';
        $.ajax({
            url:'{{ (path('take_classes_from_this_timetable')) }}',
            type: "POST",
            dataType: "json",
            data: {
                "other_timetable": other_timetable,
                "this_timetable": this_timetable,
                "entity": entity,
            },
            async: true,
            success: function (data)
            {
               location.href = data.url
            },
          error: function () {
                $("#info").html("<b>something's wrong</b>");
          }
        });

    });
  </script>
  <script>
	  $(document).on('click', '#save', function(){

			var timetable = "{{timetable.id}}";
			var subject = $('#subject').val();
			var classs = $('#class').val();
			var teacher = "{{teacher.id}}";

			$('#form').checkFields();
			$('#save').html('Wait...');
			$.ajax({
	        url:'{{ (path('save_entity')) }}',
	        type: "POST",
	        dataType: "json",
	        data: {
						"return": 'getCTitle',
						"entity": 'ClassSubject',
						"timetable": timetable,
						"subject": subject,
						"class": classs,
						"teacher": teacher,
						"fields": ['subject_id', 'class_id', 'teacher_id'],
						"values": [subject, classs, teacher],
	        },
	        async: true,
	        success: function (data)
	        {
						console.log(data);
						$("#added_relations").append('<li>'+data+'</li>');
						$('#save').html('SAVED').removeClass('btn-primary').addClass('btn-success');
	        },
		      error: function (xhr, status, error) {
						console.log('error');
		      }
	    });

	  });
	</script>
  <script>
	$(document).on('change', '#subject',function (e){
			$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
	});
	$(document).on('change', '#class',function (e){
			$('#save').html('Save').removeClass('btn-success').addClass('btn-primary');
	});
	</script>

{% endblock %}
