{% extends 'base.html.twig' %}
{% block pagewrapper %}
    {% set action_title = "Add Class" %}
    {% embed "templates/pagewrapper.html.twig" %}
        {% block toplinks %}
        {% endblock %}
        {% block charts %}
        {% endblock %}
        {% block otherstuff_lg8 %}

		{{ form_start(form, {'method': 'post', 'attr': {'class': 'form-horizontal' }} ) }}
				{% if not form.vars.valid %}
	              <div class="alert alert-warning">
	              {{ form_errors(form) }}
	              </div>				
          		{% endif %}
			  <div class="form-group">
			    <label for="class" class="col-sm-2 control-label">Class</label>
			    <div class="col-sm-10">
		    		{{ form_row(form.class_number, {'attr': {'class': 'form-control', 'placeholder': 'Class', 'id' : 'class' }}) }}
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="class_wing" class="col-sm-2 control-label">Class Wing</label>
			    <div class="col-sm-10">
		    		{{ form_row(form.class_wing, {'attr': {'class': 'form-control', 'placeholder': 'Class Wing', 'id' : 'class_wing' }}) }}
			    </div>
			  </div>
			  <div class="form-group">
			    <label for="class_teacher" class="col-sm-2 control-label">Class Teacher</label>
			    <div class="col-sm-10">
		    		{{ form_row(form.class_teacher, {'attr': {'class': 'form-control', 'placeholder': 'Class Teacher', 'id' : 'class_teacher' }}) }}
			    </div>
			  </div>
			  <div class="form-group">
			    <div class="col-sm-10">
		    		{{ form_row(form.save, {'attr': {'class': 'btn btn-primary'}}) }}
                    {{ form_widget(form.saveAndAdd, {'attr': {'class': 'btn btn-info' }} ) }}
			    </div>
			  </div>
		{{ form_end(form) }}

		{% endblock %}
	{% endembed %}
{% endblock %}